<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.likezhen.mybatis.mapper.CupMapper">
  <resultMap id="BaseResultMap" type="com.likezhen.mybatis.model.Cup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="color" jdbcType="VARCHAR" property="color" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cup
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.likezhen.mybatis.model.Cup">
    insert into cup (id, `size`, color
      )
    values (#{id,jdbcType=INTEGER}, #{size,jdbcType=INTEGER}, #{color,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.likezhen.mybatis.model.Cup">
    update cup
    set `size` = #{size,jdbcType=INTEGER},
      color = #{color,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, `size`, color
    from cup
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `size`, color
    from cup
  </select>
</mapper>